### First download the dataset from Kaggle using the Kagglehub .
    #create a virtual invironment for your system .
     currently i am using python 3.10.0 in july'25 . (preety stable :)

     --pip install kagglehub

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("behrad3d/nasa-cmaps")

print("Path to dataset files:", path)

d:\turbofan_RUL\Turbofan-Engine-Remaining_Useful_Life\tf_rul\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/behrad3d/nasa-cmaps?dataset_version_number=1...

100%|██████████| 12.3M/12.3M [00:03<00:00, 4.21MB/s]

Extracting files...

Path to dataset files: C:\Users\amans\.cache\kagglehub\datasets\behrad3d\nasa-cmaps\versions\1

In [ ]:
### I copied the filed to my workdir
# CMPASS folder which contains the various engine dataset.

In [ ]:
with open("CMaps\\readme.txt", "r") as readme_txt:
    content = readme_txt.read()


print(content)

Data Set: FD001
Train trjectories: 100
Test trajectories: 100
Conditions: ONE (Sea Level)
Fault Modes: ONE (HPC Degradation)

Data Set: FD002
Train trjectories: 260
Test trajectories: 259
Conditions: SIX
Fault Modes: ONE (HPC Degradation)

Data Set: FD003
Train trjectories: 100
Test trajectories: 100
Conditions: ONE (Sea Level)
Fault Modes: TWO (HPC Degradation, Fan Degradation)

Data Set: FD004
Train trjectories: 248
Test trajectories: 249
Conditions: SIX
Fault Modes: TWO (HPC Degradation, Fan Degradation)



Experimental Scenario

Data sets consists of multiple multivariate time series. Each data set is further divided into training and test subsets. Each time series is from a different engine – i.e., the data can be considered to be from a fleet of engines of the same type. Each engine starts with different degrees of initial wear and manufacturing variation which is unknown to the user. This wear and variation is considered normal, i.e., it is not considered a fault condition. There are three operational settings that have a substantial effect on engine performance. These settings are also included in the data. The data is contaminated with sensor noise.

The engine is operating normally at the start of each time series, and develops a fault at some point during the series. In the training set, the fault grows in magnitude until system failure. In the test set, the time series ends some time prior to system failure. The objective of the competition is to predict the number of remaining operational cycles before failure in the test set, i.e., the number of operational cycles after the last cycle that the engine will continue to operate. Also provided a vector of true Remaining Useful Life (RUL) values for the test data.

The data are provided as a zip-compressed text file with 26 columns of numbers, separated by spaces. Each row is a snapshot of data taken during a single operational cycle, each column is a different variable. The columns correspond to:
1)	unit number
2)	time, in cycles
3)	operational setting 1
4)	operational setting 2
5)	operational setting 3
6)	sensor measurement  1
7)	sensor measurement  2
...
26)	sensor measurement  26


Reference: A. Saxena, K. Goebel, D. Simon, and N. Eklund, “Damage Propagation Modeling for Aircraft Engine Run-to-Failure Simulation”, in the Proceedings of the Ist International Conference on Prognostics and Health Management (PHM08), Denver CO, Oct 2008.

In [ ]:
import warnings

warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [ ]:
!ls CMaps

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
import os


def content_CMPAS(files):
    for file in files:
        return print(files)


print(content_CMPAS(files=os.listdir("CMaps")))

['readme.txt', 'RUL_FD001.txt', 'RUL_FD002.txt', 'RUL_FD003.txt', 'RUL_FD004.txt', 'test_FD001.txt', 'test_FD002.txt', 'test_FD003.txt', 'test_FD004.txt', 'train_FD001.txt', 'train_FD002.txt', 'train_FD003.txt', 'train_FD004.txt', 'x.txt']
None

In [ ]:
DATASET_NAMES = ["FD001", "FD002", "FD003", "FD004"]

TRAIN_DATA_FILES = [("CMaps/train_{}.txt", format(x), x) for x in DATASET_NAMES]
TEST_DATA_FILES = [("CMaps/test_{}.txt", format(x), x) for x in DATASET_NAMES]

TEST_DATA_RUL_FILES = [("CMapas/RUL_{}.txt", format(x), x) for x in DATASET_NAMES]

OP_SETTING_COLUMNS = ["op_setting_{}".format(x) for x in range(1, 4)]
SENSOR_COLUMNS = ["sensor_{}".format(x) for x in range(1, 22)]

In [ ]:
###Lets take a look at the raw training batch files  we have downloaded.

df = pd.read_csv("CMaps/train_FD001.txt", sep="\s+", header=None)
df.head(20)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
5,1,6,-0.0043,-0.0001,100.0,518.67,642.10,1584.47,1398.37,14.62,...,521.68,2388.03,8132.85,8.4108,0.03,391,2388,100.0,38.98,23.3669
6,1,7,0.0010,0.0001,100.0,518.67,642.48,1592.32,1397.77,14.62,...,522.32,2388.03,8132.32,8.3974,0.03,392,2388,100.0,39.10,23.3774
7,1,8,-0.0034,0.0003,100.0,518.67,642.56,1582.96,1400.97,14.62,...,522.47,2388.03,8131.07,8.4076,0.03,391,2388,100.0,38.97,23.3106
8,1,9,0.0008,0.0001,100.0,518.67,642.12,1590.98,1394.80,14.62,...,521.79,2388.05,8125.69,8.3728,0.03,392,2388,100.0,39.05,23.4066
9,1,10,-0.0033,0.0001,100.0,518.67,641.71,1591.24,1400.46,14.62,...,521.79,2388.06,8129.38,8.4286,0.03,393,2388,100.0,38.95,23.4694
10,1,11,0.0018,-0.0003,100.0,518.67,642.28,1581.75,1400.64,14.62,...,521.40,2388.01,8140.58,8.4340,0.03,392,2388,100.0,38.94,23.4787
11,1,12,0.0016,0.0002,100.0,518.67,642.06,1583.41,1400.15,14.62,...,521.80,2388.02,8134.25,8.3938,0.03,391,2388,100.0,39.06,23.3660
12,1,13,-0.0019,0.0004,100.0,518.67,643.07,1582.19,1400.83,14.62,...,521.85,2388.08,8128.10,8.4152,0.03,393,2388,100.0,38.93,23.2757
13,1,14,0.0009,-0.0000,100.0,518.67,642.35,1592.95,1399.16,14.62,...,521.67,2388.00,8134.43,8.3964,0.03,393,2388,100.0,39.18,23.3826
14,1,15,-0.0018,-0.0003,100.0,518.67,642.43,1583.82,1402.13,14.62,...,522.50,2388.08,8127.56,8.4199,0.03,391,2388,100.0,38.99,23.3500
15,1,16,0.0006,0.0005,100.0,518.67,642.13,1587.98,1404.50,14.62,...,521.49,2388.07,8136.11,8.3936,0.03,392,2388,100.0,38.97,23.4550
16,1,17,0.0002,0.0002,100.0,518.67,642.58,1584.96,1399.95,14.62,...,521.89,2388.04,8137.27,8.4542,0.03,392,2388,100.0,38.81,23.3319
17,1,18,-0.0031,-0.0001,100.0,518.67,642.62,1591.04,1396.12,14.62,...,521.76,2388.07,8132.73,8.4028,0.03,392,2388,100.0,38.89,23.3987
18,1,19,0.0032,-0.0003,100.0,518.67,641.79,1587.56,1400.35,14.62,...,521.89,2388.03,8129.13,8.4321,0.03,391,2388,100.0,38.80,23.3464
19,1,20,-0.0037,0.0001,100.0,518.67,643.04,1581.11,1405.23,14.62,...,522.07,2388.02,8129.71,8.4210,0.03,392,2388,100.0,39.03,23.4220

In [ ]:
###Lets create aa function to load our raw data into structured Dataframe.
def read_data(filename):
    col_names = ["unit", "time_cycles"] + OP_SETTING_COLUMNS + SENSOR_COLUMNS
    return pd.read_csv(filename, sep="\s+", header=None, names=col_names)

In [23]:
train_FD001 = read_data("CMaps/train_FD001.txt")
train_FD001

,unit,time_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

### Lets Envelope all the above code in a single block of python code .

In [ ]:
import pandas as pd

OP_SETTING_COLUMNS = ["op1", "op2", "op3"]
SENSOR_COLUMNS = [f"sensor{i}" for i in range(1, 22)]


def read_data(filename):
    col_names = ["unit", "time_cycles"] + OP_SETTING_COLUMNS + SENSOR_COLUMNS
    return pd.read_csv(filename, sep="\s+", header=None, names=col_names)


datasets = ["FD001", "FD002", "FD003", "FD004"]
TRAIN_DATA_FILES = [(f"CMaps/train_{ds}.txt", ds) for ds in datasets]

train = []
for dataset in TRAIN_DATA_FILES:
    dataset_df = read_data(dataset[0])
    dataset_df["dataset"] = dataset[1]
    train.append(dataset_df)

train = pd.concat(train, ignore_index=True)

print("train.shape =", train.shape)
train.head(2)

train.shape = (160359, 27)

,unit,time_cycles,op1,op2,op3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor13,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21,dataset
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,FD001
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,FD001